<nav class="nav-category">
  <div class="container">
    <ul class="nav justify-content-center justify-content-lg-between flex-wrap gap-2 gap-lg-0">
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-pills me-2"></i>Лекарства</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-capsules me-2"></i>Витамины и БАД</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-heart me-2"></i>Красота</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shower me-2"></i>Гигиена</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-eye me-2"></i>Линзы</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-baby me-2"></i>Мать и дитя</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-briefcase-medical me-2"></i>Медтовары</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-paw me-2"></i>Зоотовары</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-stethoscope me-2"></i>Медтехника</a></li>
    </ul>
  </div>
</nav>