<div class="header-top py-2 border-bottom">
  <div class="container">
    <div class="row align-items-center text-sm">
      <div class="col-md-4 d-flex align-items-center">
        <i class="fas fa-map-marker-alt text-success me-2"></i>
        <div class="dropdown">
          <a class="text-dark text-decoration-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Москва и область
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Санкт-Петербург</a></li>
            <li><a class="dropdown-item" href="#">Екатеринбург</a></li>
            <li><a class="dropdown-item" href="#">Новосибирск</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 text-md-end mt-2 mt-md-0">
        <a href="#" class="text-muted text-decoration-none me-4">Служебные страницы</a>
        <a href="#" class="text-muted text-decoration-none me-4">
          <i class="far fa-heart"></i> Избранное
        </a>
        <a href="#" class="text-muted text-decoration-none">
          <i class="far fa-user"></i> Личный кабинет
        </a>
      </div>
    </div>
  </div>
</div>